{
  "Name": "Clarinet",
  "Notes": [
    {
      "Name": "G3",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "Ab3",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "A3",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "Bb3",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "B3",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "C4",
      "Length": 2.1585941,
      "NoteIndex": 0,
      "Octave": 4,
      "Frequencies": [
        {
          "Index": 6,
          "Freq": 258,
          "FundamentalMult": 1
        },
        {
          "Index": 18,
          "Freq": 774,
          "FundamentalMult": 3
        },
        {
          "Index": 30,
          "Freq": 1290,
          "FundamentalMult": 5
        }
      ]
    },
    {
      "Name": "Db4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "D4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "Eb4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "E4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "F4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "Gb4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "G4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "Ab4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "A4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "Bb4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "B4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "C5",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "Db5",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "D5",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "Eb5",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "E5",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "F5",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "Gb5",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "G5",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "Ab5",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "A5",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "Bb5",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "B5",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "C6",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    }
  ]
}