{
  "Name": "Cymbal",
  "Notes": [
    {
      "Name": "13crash.mallet",
      "Length": 4.756349,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": [
        {
          "Index": 2,
          "Freq": 86,
          "FundamentalMult": null
        },
        {
          "Index": 4,
          "Freq": 172,
          "FundamentalMult": null
        },
        {
          "Index": 6,
          "Freq": 258,
          "FundamentalMult": null
        },
        {
          "Index": 8,
          "Freq": 344,
          "FundamentalMult": null
        },
        {
          "Index": 10,
          "Freq": 430,
          "FundamentalMult": null
        },
        {
          "Index": 12,
          "Freq": 516,
          "FundamentalMult": null
        },
        {
          "Index": 14,
          "Freq": 602,
          "FundamentalMult": null
        },
        {
          "Index": 16,
          "Freq": 688,
          "FundamentalMult": null
        },
        {
          "Index": 18,
          "Freq": 774,
          "FundamentalMult": null
        },
        {
          "Index": 21,
          "Freq": 903,
          "FundamentalMult": null
        },
        {
          "Index": 24,
          "Freq": 1032,
          "FundamentalMult": null
        },
        {
          "Index": 27,
          "Freq": 1161,
          "FundamentalMult": null
        },
        {
          "Index": 31,
          "Freq": 1333,
          "FundamentalMult": null
        },
        {
          "Index": 34,
          "Freq": 1462,
          "FundamentalMult": null
        },
        {
          "Index": 37,
          "Freq": 1591,
          "FundamentalMult": null
        },
        {
          "Index": 40,
          "Freq": 1720,
          "FundamentalMult": null
        },
        {
          "Index": 44,
          "Freq": 1892,
          "FundamentalMult": null
        },
        {
          "Index": 48,
          "Freq": 2064,
          "FundamentalMult": null
        },
        {
          "Index": 51,
          "Freq": 2193,
          "FundamentalMult": null
        },
        {
          "Index": 70,
          "Freq": 3010,
          "FundamentalMult": null
        },
        {
          "Index": 73,
          "Freq": 3139,
          "FundamentalMult": null
        },
        {
          "Index": 84,
          "Freq": 3612,
          "FundamentalMult": null
        },
        {
          "Index": 93,
          "Freq": 3999,
          "FundamentalMult": null
        },
        {
          "Index": 98,
          "Freq": 4214,
          "FundamentalMult": null
        },
        {
          "Index": 107,
          "Freq": 4601,
          "FundamentalMult": null
        },
        {
          "Index": 116,
          "Freq": 4988,
          "FundamentalMult": null
        },
        {
          "Index": 121,
          "Freq": 5203,
          "FundamentalMult": null
        },
        {
          "Index": 124,
          "Freq": 5332,
          "FundamentalMult": null
        },
        {
          "Index": 137,
          "Freq": 5891,
          "FundamentalMult": null
        },
        {
          "Index": 149,
          "Freq": 6407,
          "FundamentalMult": null
        },
        {
          "Index": 152,
          "Freq": 6536,
          "FundamentalMult": null
        },
        {
          "Index": 159,
          "Freq": 6837,
          "FundamentalMult": null
        },
        {
          "Index": 170,
          "Freq": 7310,
          "FundamentalMult": null
        },
        {
          "Index": 176,
          "Freq": 7568,
          "FundamentalMult": null
        },
        {
          "Index": 181,
          "Freq": 7783,
          "FundamentalMult": null
        },
        {
          "Index": 188,
          "Freq": 8084,
          "FundamentalMult": null
        }
      ]
    },
    {
      "Name": "17crash.mallet",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "18crash.mallet",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "20crash.mallet",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "21ride.mallet",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    }
  ]
}