{
  "Name": "Piano",
  "Notes": [
    {
      "Name": "C3",
      "Length": 14.000431,
      "NoteIndex": 0,
      "Octave": 3,
      "Frequencies": [
        {
          "Index": 3,
          "Freq": 129,
          "FundamentalMult": 1
        },
        {
          "Index": 6,
          "Freq": 258,
          "FundamentalMult": 2
        },
        {
          "Index": 9,
          "Freq": 387,
          "FundamentalMult": 3
        },
        {
          "Index": 15,
          "Freq": 645,
          "FundamentalMult": 5
        },
        {
          "Index": 22,
          "Freq": 946,
          "FundamentalMult": 7
        },
        {
          "Index": 31,
          "Freq": 1333,
          "FundamentalMult": 10
        },
        {
          "Index": 37,
          "Freq": 1591,
          "FundamentalMult": 12
        },
        {
          "Index": 43,
          "Freq": 1849,
          "FundamentalMult": 14
        },
        {
          "Index": 46,
          "Freq": 1978,
          "FundamentalMult": 15
        }
      ]
    },
    {
      "Name": "Db3",
      "Length": 12.000431,
      "NoteIndex": 1,
      "Octave": 3,
      "Frequencies": [
        {
          "Index": 3,
          "Freq": 129,
          "FundamentalMult": 1
        },
        {
          "Index": 7,
          "Freq": 301,
          "FundamentalMult": 2
        },
        {
          "Index": 10,
          "Freq": 430,
          "FundamentalMult": 3
        },
        {
          "Index": 13,
          "Freq": 559,
          "FundamentalMult": 4
        },
        {
          "Index": 20,
          "Freq": 860,
          "FundamentalMult": 6
        },
        {
          "Index": 23,
          "Freq": 989,
          "FundamentalMult": 7
        },
        {
          "Index": 29,
          "Freq": 1247,
          "FundamentalMult": 9
        },
        {
          "Index": 39,
          "Freq": 1677,
          "FundamentalMult": 12
        },
        {
          "Index": 46,
          "Freq": 1978,
          "FundamentalMult": 14
        }
      ]
    },
    {
      "Name": "D3",
      "Length": 11.000431,
      "NoteIndex": 2,
      "Octave": 3,
      "Frequencies": [
        {
          "Index": 4,
          "Freq": 172,
          "FundamentalMult": 1
        },
        {
          "Index": 7,
          "Freq": 301,
          "FundamentalMult": 2
        },
        {
          "Index": 10,
          "Freq": 430,
          "FundamentalMult": 3
        },
        {
          "Index": 13,
          "Freq": 559,
          "FundamentalMult": 4
        },
        {
          "Index": 17,
          "Freq": 731,
          "FundamentalMult": 5
        },
        {
          "Index": 20,
          "Freq": 860,
          "FundamentalMult": 6
        },
        {
          "Index": 25,
          "Freq": 1075,
          "FundamentalMult": 7
        },
        {
          "Index": 32,
          "Freq": 1376,
          "FundamentalMult": 9
        },
        {
          "Index": 38,
          "Freq": 1634,
          "FundamentalMult": 11
        },
        {
          "Index": 44,
          "Freq": 1892,
          "FundamentalMult": 13
        },
        {
          "Index": 52,
          "Freq": 2236,
          "FundamentalMult": 15
        }
      ]
    },
    {
      "Name": "Eb3",
      "Length": 30.000431,
      "NoteIndex": 3,
      "Octave": 3,
      "Frequencies": [
        {
          "Index": 4,
          "Freq": 172,
          "FundamentalMult": 1
        },
        {
          "Index": 7,
          "Freq": 301,
          "FundamentalMult": 2
        },
        {
          "Index": 11,
          "Freq": 473,
          "FundamentalMult": 3
        },
        {
          "Index": 15,
          "Freq": 645,
          "FundamentalMult": 4
        },
        {
          "Index": 18,
          "Freq": 774,
          "FundamentalMult": 5
        },
        {
          "Index": 22,
          "Freq": 946,
          "FundamentalMult": 6
        },
        {
          "Index": 26,
          "Freq": 1118,
          "FundamentalMult": 7
        },
        {
          "Index": 33,
          "Freq": 1419,
          "FundamentalMult": 9
        }
      ]
    },
    {
      "Name": "E3",
      "Length": 13.000431,
      "NoteIndex": 4,
      "Octave": 3,
      "Frequencies": [
        {
          "Index": 4,
          "Freq": 172,
          "FundamentalMult": 1
        },
        {
          "Index": 8,
          "Freq": 344,
          "FundamentalMult": 2
        },
        {
          "Index": 12,
          "Freq": 516,
          "FundamentalMult": 3
        },
        {
          "Index": 16,
          "Freq": 688,
          "FundamentalMult": 4
        },
        {
          "Index": 19,
          "Freq": 817,
          "FundamentalMult": 5
        },
        {
          "Index": 23,
          "Freq": 989,
          "FundamentalMult": 6
        },
        {
          "Index": 27,
          "Freq": 1161,
          "FundamentalMult": 7
        },
        {
          "Index": 31,
          "Freq": 1333,
          "FundamentalMult": 8
        },
        {
          "Index": 35,
          "Freq": 1505,
          "FundamentalMult": 9
        },
        {
          "Index": 39,
          "Freq": 1677,
          "FundamentalMult": 10
        },
        {
          "Index": 43,
          "Freq": 1849,
          "FundamentalMult": 11
        },
        {
          "Index": 47,
          "Freq": 2021,
          "FundamentalMult": 12
        },
        {
          "Index": 51,
          "Freq": 2193,
          "FundamentalMult": 13
        },
        {
          "Index": 55,
          "Freq": 2365,
          "FundamentalMult": 14
        }
      ]
    },
    {
      "Name": "F3",
      "Length": 15.000431,
      "NoteIndex": 5,
      "Octave": 3,
      "Frequencies": [
        {
          "Index": 4,
          "Freq": 172,
          "FundamentalMult": 1
        },
        {
          "Index": 8,
          "Freq": 344,
          "FundamentalMult": 2
        },
        {
          "Index": 13,
          "Freq": 559,
          "FundamentalMult": 3
        },
        {
          "Index": 17,
          "Freq": 731,
          "FundamentalMult": 4
        },
        {
          "Index": 21,
          "Freq": 903,
          "FundamentalMult": 5
        },
        {
          "Index": 25,
          "Freq": 1075,
          "FundamentalMult": 6
        },
        {
          "Index": 29,
          "Freq": 1247,
          "FundamentalMult": 7
        },
        {
          "Index": 33,
          "Freq": 1419,
          "FundamentalMult": 8
        },
        {
          "Index": 36,
          "Freq": 1548,
          "FundamentalMult": 9
        }
      ]
    },
    {
      "Name": "Gb3",
      "Length": 30.000431,
      "NoteIndex": 6,
      "Octave": 3,
      "Frequencies": [
        {
          "Index": 4,
          "Freq": 172,
          "FundamentalMult": 1
        },
        {
          "Index": 9,
          "Freq": 387,
          "FundamentalMult": 2
        },
        {
          "Index": 13,
          "Freq": 559,
          "FundamentalMult": 3
        },
        {
          "Index": 17,
          "Freq": 731,
          "FundamentalMult": 4
        },
        {
          "Index": 22,
          "Freq": 946,
          "FundamentalMult": 5
        },
        {
          "Index": 26,
          "Freq": 1118,
          "FundamentalMult": 6
        },
        {
          "Index": 30,
          "Freq": 1290,
          "FundamentalMult": 7
        },
        {
          "Index": 35,
          "Freq": 1505,
          "FundamentalMult": 8
        },
        {
          "Index": 39,
          "Freq": 1677,
          "FundamentalMult": 9
        }
      ]
    },
    {
      "Name": "G3",
      "Length": 30.000431,
      "NoteIndex": 7,
      "Octave": 3,
      "Frequencies": [
        {
          "Index": 4,
          "Freq": 172,
          "FundamentalMult": 1
        },
        {
          "Index": 9,
          "Freq": 387,
          "FundamentalMult": 2
        },
        {
          "Index": 14,
          "Freq": 602,
          "FundamentalMult": 3
        },
        {
          "Index": 18,
          "Freq": 774,
          "FundamentalMult": 4
        },
        {
          "Index": 23,
          "Freq": 989,
          "FundamentalMult": 5
        },
        {
          "Index": 28,
          "Freq": 1204,
          "FundamentalMult": 6
        },
        {
          "Index": 32,
          "Freq": 1376,
          "FundamentalMult": 7
        },
        {
          "Index": 42,
          "Freq": 1806,
          "FundamentalMult": 9
        },
        {
          "Index": 56,
          "Freq": 2408,
          "FundamentalMult": 12
        }
      ]
    },
    {
      "Name": "Ab3",
      "Length": 13.000431,
      "NoteIndex": 8,
      "Octave": 3,
      "Frequencies": [
        {
          "Index": 5,
          "Freq": 215,
          "FundamentalMult": 1
        },
        {
          "Index": 10,
          "Freq": 430,
          "FundamentalMult": 2
        },
        {
          "Index": 15,
          "Freq": 645,
          "FundamentalMult": 3
        },
        {
          "Index": 20,
          "Freq": 860,
          "FundamentalMult": 4
        },
        {
          "Index": 25,
          "Freq": 1075,
          "FundamentalMult": 5
        },
        {
          "Index": 29,
          "Freq": 1247,
          "FundamentalMult": 6
        },
        {
          "Index": 34,
          "Freq": 1462,
          "FundamentalMult": 7
        },
        {
          "Index": 39,
          "Freq": 1677,
          "FundamentalMult": 8
        },
        {
          "Index": 44,
          "Freq": 1892,
          "FundamentalMult": 9
        },
        {
          "Index": 49,
          "Freq": 2107,
          "FundamentalMult": 10
        },
        {
          "Index": 54,
          "Freq": 2322,
          "FundamentalMult": 11
        },
        {
          "Index": 59,
          "Freq": 2537,
          "FundamentalMult": 12
        },
        {
          "Index": 64,
          "Freq": 2752,
          "FundamentalMult": 13
        },
        {
          "Index": 69,
          "Freq": 2967,
          "FundamentalMult": 14
        },
        {
          "Index": 74,
          "Freq": 3182,
          "FundamentalMult": 15
        },
        {
          "Index": 79,
          "Freq": 3397,
          "FundamentalMult": 16
        }
      ]
    },
    {
      "Name": "A3",
      "Length": 12.000431,
      "NoteIndex": 9,
      "Octave": 3,
      "Frequencies": [
        {
          "Index": 5,
          "Freq": 215,
          "FundamentalMult": 1
        },
        {
          "Index": 10,
          "Freq": 430,
          "FundamentalMult": 2
        },
        {
          "Index": 15,
          "Freq": 645,
          "FundamentalMult": 3
        },
        {
          "Index": 21,
          "Freq": 903,
          "FundamentalMult": 4
        },
        {
          "Index": 26,
          "Freq": 1118,
          "FundamentalMult": 5
        },
        {
          "Index": 31,
          "Freq": 1333,
          "FundamentalMult": 6
        },
        {
          "Index": 36,
          "Freq": 1548,
          "FundamentalMult": 7
        },
        {
          "Index": 41,
          "Freq": 1763,
          "FundamentalMult": 8
        },
        {
          "Index": 46,
          "Freq": 1978,
          "FundamentalMult": 9
        },
        {
          "Index": 52,
          "Freq": 2236,
          "FundamentalMult": 10
        },
        {
          "Index": 58,
          "Freq": 2494,
          "FundamentalMult": 11
        }
      ]
    },
    {
      "Name": "Bb3",
      "Length": 12.000431,
      "NoteIndex": 10,
      "Octave": 3,
      "Frequencies": [
        {
          "Index": 5,
          "Freq": 215,
          "FundamentalMult": 1
        },
        {
          "Index": 11,
          "Freq": 473,
          "FundamentalMult": 2
        },
        {
          "Index": 16,
          "Freq": 688,
          "FundamentalMult": 3
        },
        {
          "Index": 21,
          "Freq": 903,
          "FundamentalMult": 4
        },
        {
          "Index": 27,
          "Freq": 1161,
          "FundamentalMult": 5
        },
        {
          "Index": 33,
          "Freq": 1419,
          "FundamentalMult": 6
        },
        {
          "Index": 38,
          "Freq": 1634,
          "FundamentalMult": 7
        },
        {
          "Index": 44,
          "Freq": 1892,
          "FundamentalMult": 8
        },
        {
          "Index": 49,
          "Freq": 2107,
          "FundamentalMult": 9
        },
        {
          "Index": 55,
          "Freq": 2365,
          "FundamentalMult": 10
        },
        {
          "Index": 61,
          "Freq": 2623,
          "FundamentalMult": 11
        }
      ]
    },
    {
      "Name": "B3",
      "Length": 12.000431,
      "NoteIndex": 11,
      "Octave": 3,
      "Frequencies": [
        {
          "Index": 6,
          "Freq": 258,
          "FundamentalMult": 1
        },
        {
          "Index": 12,
          "Freq": 516,
          "FundamentalMult": 2
        },
        {
          "Index": 17,
          "Freq": 731,
          "FundamentalMult": 3
        },
        {
          "Index": 23,
          "Freq": 989,
          "FundamentalMult": 4
        },
        {
          "Index": 29,
          "Freq": 1247,
          "FundamentalMult": 5
        },
        {
          "Index": 35,
          "Freq": 1505,
          "FundamentalMult": 6
        },
        {
          "Index": 40,
          "Freq": 1720,
          "FundamentalMult": 7
        },
        {
          "Index": 46,
          "Freq": 1978,
          "FundamentalMult": 8
        },
        {
          "Index": 52,
          "Freq": 2236,
          "FundamentalMult": 9
        }
      ]
    },
    {
      "Name": "C4",
      "Length": 14.000431,
      "NoteIndex": 0,
      "Octave": 4,
      "Frequencies": [
        {
          "Index": 6,
          "Freq": 258,
          "FundamentalMult": 1
        },
        {
          "Index": 12,
          "Freq": 516,
          "FundamentalMult": 2
        },
        {
          "Index": 18,
          "Freq": 774,
          "FundamentalMult": 3
        },
        {
          "Index": 24,
          "Freq": 1032,
          "FundamentalMult": 4
        },
        {
          "Index": 30,
          "Freq": 1290,
          "FundamentalMult": 5
        },
        {
          "Index": 37,
          "Freq": 1591,
          "FundamentalMult": 6
        },
        {
          "Index": 43,
          "Freq": 1849,
          "FundamentalMult": 7
        },
        {
          "Index": 49,
          "Freq": 2107,
          "FundamentalMult": 8
        },
        {
          "Index": 56,
          "Freq": 2408,
          "FundamentalMult": 9
        },
        {
          "Index": 62,
          "Freq": 2666,
          "FundamentalMult": 10
        },
        {
          "Index": 68,
          "Freq": 2924,
          "FundamentalMult": 11
        },
        {
          "Index": 75,
          "Freq": 3225,
          "FundamentalMult": 12
        }
      ]
    },
    {
      "Name": "Db4",
      "Length": 12.000431,
      "NoteIndex": 1,
      "Octave": 4,
      "Frequencies": [
        {
          "Index": 6,
          "Freq": 258,
          "FundamentalMult": 1
        },
        {
          "Index": 13,
          "Freq": 559,
          "FundamentalMult": 2
        },
        {
          "Index": 19,
          "Freq": 817,
          "FundamentalMult": 3
        },
        {
          "Index": 26,
          "Freq": 1118,
          "FundamentalMult": 4
        },
        {
          "Index": 33,
          "Freq": 1419,
          "FundamentalMult": 5
        },
        {
          "Index": 39,
          "Freq": 1677,
          "FundamentalMult": 6
        },
        {
          "Index": 46,
          "Freq": 1978,
          "FundamentalMult": 7
        },
        {
          "Index": 53,
          "Freq": 2279,
          "FundamentalMult": 8
        },
        {
          "Index": 59,
          "Freq": 2537,
          "FundamentalMult": 9
        }
      ]
    },
    {
      "Name": "D4",
      "Length": 11.000431,
      "NoteIndex": 2,
      "Octave": 4,
      "Frequencies": [
        {
          "Index": 7,
          "Freq": 301,
          "FundamentalMult": 1
        },
        {
          "Index": 14,
          "Freq": 602,
          "FundamentalMult": 2
        },
        {
          "Index": 21,
          "Freq": 903,
          "FundamentalMult": 3
        },
        {
          "Index": 28,
          "Freq": 1204,
          "FundamentalMult": 4
        },
        {
          "Index": 34,
          "Freq": 1462,
          "FundamentalMult": 5
        },
        {
          "Index": 41,
          "Freq": 1763,
          "FundamentalMult": 6
        },
        {
          "Index": 48,
          "Freq": 2064,
          "FundamentalMult": 7
        },
        {
          "Index": 55,
          "Freq": 2365,
          "FundamentalMult": 8
        },
        {
          "Index": 62,
          "Freq": 2666,
          "FundamentalMult": 9
        },
        {
          "Index": 69,
          "Freq": 2967,
          "FundamentalMult": 10
        },
        {
          "Index": 77,
          "Freq": 3311,
          "FundamentalMult": 11
        }
      ]
    },
    {
      "Name": "Eb4",
      "Length": 30.000431,
      "NoteIndex": 3,
      "Octave": 4,
      "Frequencies": [
        {
          "Index": 8,
          "Freq": 344,
          "FundamentalMult": 1
        },
        {
          "Index": 15,
          "Freq": 645,
          "FundamentalMult": 2
        },
        {
          "Index": 22,
          "Freq": 946,
          "FundamentalMult": 3
        },
        {
          "Index": 29,
          "Freq": 1247,
          "FundamentalMult": 4
        },
        {
          "Index": 36,
          "Freq": 1548,
          "FundamentalMult": 5
        },
        {
          "Index": 44,
          "Freq": 1892,
          "FundamentalMult": 6
        },
        {
          "Index": 51,
          "Freq": 2193,
          "FundamentalMult": 7
        },
        {
          "Index": 59,
          "Freq": 2537,
          "FundamentalMult": 8
        },
        {
          "Index": 66,
          "Freq": 2838,
          "FundamentalMult": 9
        }
      ]
    },
    {
      "Name": "E4",
      "Length": 13.000431,
      "NoteIndex": 4,
      "Octave": 4,
      "Frequencies": [
        {
          "Index": 8,
          "Freq": 344,
          "FundamentalMult": 1
        },
        {
          "Index": 16,
          "Freq": 688,
          "FundamentalMult": 2
        },
        {
          "Index": 23,
          "Freq": 989,
          "FundamentalMult": 3
        },
        {
          "Index": 31,
          "Freq": 1333,
          "FundamentalMult": 4
        },
        {
          "Index": 39,
          "Freq": 1677,
          "FundamentalMult": 5
        },
        {
          "Index": 47,
          "Freq": 2021,
          "FundamentalMult": 6
        },
        {
          "Index": 55,
          "Freq": 2365,
          "FundamentalMult": 7
        },
        {
          "Index": 62,
          "Freq": 2666,
          "FundamentalMult": 8
        },
        {
          "Index": 70,
          "Freq": 3010,
          "FundamentalMult": 9
        }
      ]
    },
    {
      "Name": "F4",
      "Length": 15.000431,
      "NoteIndex": 5,
      "Octave": 4,
      "Frequencies": [
        {
          "Index": 8,
          "Freq": 344,
          "FundamentalMult": 1
        },
        {
          "Index": 16,
          "Freq": 688,
          "FundamentalMult": 2
        },
        {
          "Index": 25,
          "Freq": 1075,
          "FundamentalMult": 3
        },
        {
          "Index": 33,
          "Freq": 1419,
          "FundamentalMult": 4
        },
        {
          "Index": 41,
          "Freq": 1763,
          "FundamentalMult": 5
        },
        {
          "Index": 49,
          "Freq": 2107,
          "FundamentalMult": 6
        },
        {
          "Index": 58,
          "Freq": 2494,
          "FundamentalMult": 7
        },
        {
          "Index": 66,
          "Freq": 2838,
          "FundamentalMult": 8
        },
        {
          "Index": 75,
          "Freq": 3225,
          "FundamentalMult": 9
        }
      ]
    },
    {
      "Name": "Gb4",
      "Length": 30.000431,
      "NoteIndex": 6,
      "Octave": 4,
      "Frequencies": [
        {
          "Index": 9,
          "Freq": 387,
          "FundamentalMult": 1
        },
        {
          "Index": 17,
          "Freq": 731,
          "FundamentalMult": 2
        },
        {
          "Index": 26,
          "Freq": 1118,
          "FundamentalMult": 3
        },
        {
          "Index": 35,
          "Freq": 1505,
          "FundamentalMult": 4
        },
        {
          "Index": 43,
          "Freq": 1849,
          "FundamentalMult": 5
        },
        {
          "Index": 52,
          "Freq": 2236,
          "FundamentalMult": 6
        },
        {
          "Index": 61,
          "Freq": 2623,
          "FundamentalMult": 7
        },
        {
          "Index": 70,
          "Freq": 3010,
          "FundamentalMult": 8
        }
      ]
    },
    {
      "Name": "G4",
      "Length": 30.000431,
      "NoteIndex": 7,
      "Octave": 4,
      "Frequencies": [
        {
          "Index": 9,
          "Freq": 387,
          "FundamentalMult": 1
        },
        {
          "Index": 18,
          "Freq": 774,
          "FundamentalMult": 2
        },
        {
          "Index": 28,
          "Freq": 1204,
          "FundamentalMult": 3
        },
        {
          "Index": 37,
          "Freq": 1591,
          "FundamentalMult": 4
        },
        {
          "Index": 46,
          "Freq": 1978,
          "FundamentalMult": 5
        },
        {
          "Index": 55,
          "Freq": 2365,
          "FundamentalMult": 6
        },
        {
          "Index": 65,
          "Freq": 2795,
          "FundamentalMult": 7
        },
        {
          "Index": 75,
          "Freq": 3225,
          "FundamentalMult": 8
        }
      ]
    },
    {
      "Name": "Ab4",
      "Length": 13.000431,
      "NoteIndex": 8,
      "Octave": 4,
      "Frequencies": [
        {
          "Index": 10,
          "Freq": 0,
          "FundamentalMult": 1
        },
        {
          "Index": 19,
          "Freq": 0,
          "FundamentalMult": 2
        },
        {
          "Index": 29,
          "Freq": 0,
          "FundamentalMult": 3
        },
        {
          "Index": 39,
          "Freq": 1677,
          "FundamentalMult": 4
        },
        {
          "Index": 49,
          "Freq": 2107,
          "FundamentalMult": 5
        },
        {
          "Index": 59,
          "Freq": 0,
          "FundamentalMult": 6
        },
        {
          "Index": 69,
          "Freq": 2967,
          "FundamentalMult": 7
        },
        {
          "Index": 79,
          "Freq": 3397,
          "FundamentalMult": 8
        }
      ]
    },
    {
      "Name": "A4",
      "Length": 12.000431,
      "NoteIndex": 9,
      "Octave": 4,
      "Frequencies": [
        {
          "Index": 10,
          "Freq": 0,
          "FundamentalMult": 1
        },
        {
          "Index": 21,
          "Freq": 0,
          "FundamentalMult": 2
        },
        {
          "Index": 31,
          "Freq": 0,
          "FundamentalMult": 3
        },
        {
          "Index": 42,
          "Freq": 0,
          "FundamentalMult": 4
        },
        {
          "Index": 52,
          "Freq": 0,
          "FundamentalMult": 5
        }
      ]
    },
    {
      "Name": "Bb4",
      "Length": 12.000431,
      "NoteIndex": 10,
      "Octave": 4,
      "Frequencies": [
        {
          "Index": 11,
          "Freq": 473,
          "FundamentalMult": 1
        },
        {
          "Index": 22,
          "Freq": 946,
          "FundamentalMult": 2
        },
        {
          "Index": 33,
          "Freq": 1419,
          "FundamentalMult": 3
        },
        {
          "Index": 44,
          "Freq": 1892,
          "FundamentalMult": 4
        },
        {
          "Index": 55,
          "Freq": 2365,
          "FundamentalMult": 5
        },
        {
          "Index": 66,
          "Freq": 2838,
          "FundamentalMult": 6
        },
        {
          "Index": 77,
          "Freq": 3311,
          "FundamentalMult": 7
        },
        {
          "Index": 89,
          "Freq": 3827,
          "FundamentalMult": 8
        },
        {
          "Index": 101,
          "Freq": 4343,
          "FundamentalMult": 9
        }
      ]
    },
    {
      "Name": "B4",
      "Length": 12.000431,
      "NoteIndex": 11,
      "Octave": 4,
      "Frequencies": [
        {
          "Index": 12,
          "Freq": 516,
          "FundamentalMult": 1
        },
        {
          "Index": 23,
          "Freq": 989,
          "FundamentalMult": 2
        },
        {
          "Index": 34,
          "Freq": 1462,
          "FundamentalMult": 3
        },
        {
          "Index": 47,
          "Freq": 2021,
          "FundamentalMult": 4
        },
        {
          "Index": 58,
          "Freq": 2494,
          "FundamentalMult": 5
        },
        {
          "Index": 70,
          "Freq": 3010,
          "FundamentalMult": 6
        },
        {
          "Index": 82,
          "Freq": 3526,
          "FundamentalMult": 7
        }
      ]
    },
    {
      "Name": "C5",
      "Length": 14.000431,
      "NoteIndex": 0,
      "Octave": 5,
      "Frequencies": [
        {
          "Index": 12,
          "Freq": 516,
          "FundamentalMult": 1
        },
        {
          "Index": 24,
          "Freq": 1032,
          "FundamentalMult": 2
        },
        {
          "Index": 37,
          "Freq": 1591,
          "FundamentalMult": 3
        },
        {
          "Index": 49,
          "Freq": 2107,
          "FundamentalMult": 4
        },
        {
          "Index": 62,
          "Freq": 2666,
          "FundamentalMult": 5
        }
      ]
    }
  ]
}