{
  "Name": "ThaiGong",
  "Notes": [
    {
      "Name": "C4",
      "Length": 8.000431,
      "NoteIndex": 0,
      "Octave": 4,
      "Frequencies": [
        {
          "Index": 7,
          "Freq": 301,
          "FundamentalMult": 1
        },
        {
          "Index": 10,
          "Freq": 430,
          "FundamentalMult": 2
        },
        {
          "Index": 13,
          "Freq": 559,
          "FundamentalMult": 2
        },
        {
          "Index": 16,
          "Freq": 688,
          "FundamentalMult": 3
        },
        {
          "Index": 37,
          "Freq": 1591,
          "FundamentalMult": 6
        },
        {
          "Index": 39,
          "Freq": 1677,
          "FundamentalMult": 6
        },
        {
          "Index": 40,
          "Freq": 1720,
          "FundamentalMult": 7
        },
        {
          "Index": 41,
          "Freq": 1763,
          "FundamentalMult": 7
        },
        {
          "Index": 43,
          "Freq": 1849,
          "FundamentalMult": 7
        }
      ]
    },
    {
      "Name": "Db4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "D4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "Eb4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "E4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "F4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "Gb4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "G4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "Ab4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "A4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "Bb4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "B4",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    },
    {
      "Name": "C5",
      "Length": 0,
      "NoteIndex": null,
      "Octave": null,
      "Frequencies": []
    }
  ]
}